@font-face {
	font-family: 'Chivo';
        src: url('../../fonts/Chivo-Thin.woff') format('woff');
	font-style: normal;
	font-weight: 100;
}
@font-face {
	font-family: 'Chivo';
        src: url('../../fonts/Chivo-ThinItalic.woff') format('woff');
	font-style: italic;
	font-weight: 100;
}
@font-face {
	font-family: 'Chivo';
        src: url('../../fonts/Chivo-Light.woff') format('woff');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'Chivo';
        src: url('../../fonts/Chivo-LightItalic.woff') format('woff');
	font-style: italic;
	font-weight: 300;
}
@font-face {
	font-family: 'Chivo';
        src: url('../../fonts/Chivo-Regular.woff') format('woff');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Chivo';
        src: url('../../fonts/Chivo-Italic.woff') format('woff');
	font-style: italic;
	font-weight: 400;
}
@font-face {
	font-family: 'Chivo';
        src: url('../../fonts/Chivo-Medium.woff') format('woff');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'Chivo';
        src: url('../../fonts/Chivo-MediumItalic.woff') format('woff');
	font-style: italic;
	font-weight: 500;
}
@font-face {
	font-family: 'Chivo';
        src: url('../../fonts/Chivo-Bold.woff') format('woff');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'Chivo';
        src: url('../../fonts/Chivo-BoldItalic.woff') format('woff');
	font-style: italic;
	font-weight: 700;
}
@font-face {
	font-family: 'Chivo';
        src: url('../../fonts/Chivo-ExtraBold.woff') format('woff');
	font-style: normal;
	font-weight: 800;
}
@font-face {
	font-family: 'Chivo';
        src: url('../../fonts/Chivo-ExtraBoldItalic.woff') format('woff');
	font-style: italic;
	font-weight: 800;
}
@font-face {
	font-family: 'Chivo';
        src: url('../../fonts/Chivo-Black.woff') format('woff');
	font-style: normal;
	font-weight: 900;
}
@font-face {
	font-family: 'Chivo';
        src: url('../../fonts/Chivo-BlackItalic.woff') format('woff');
	font-style: italic;
	font-weight: 900;
}