@import "reset";

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #7AA973;
  border-radius: 50px;
  padding: 14px;
  margin: 20px;
  .logo-container {
    width: 50px;
    height: 50px;
  }
  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    a {
      display: flex;
      justify-content: center;
      border-radius: 50px;
      color: white;
      width: 80px;
      padding: 5px 0;
      background-color: #151515;
    }
    & > a:nth-child(1),
    & > a:nth-child(2) {
      margin-right: 20px;
    }
  }
  .user-container {
    width: 50px;
    height: 50px;
  }
}